section {
    margin-top: 30px;
}
#spinner i {
    font-size:48px;
    color:red
}
#spinner i{
    text-align: center;
}
/*
#spinner i:after {
    content: "Loading...";
}
*/
.hide-spinner {
    display: none;
}